.mostrar {
  display: flex;
  opacity: 1;
}
.header {
  height: 80px;
  nav {
    .bottom-navbar {
      display: none;
    }
    .navbar-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .logo {
        margin-left: 20px;
        margin-top: 10px;
        height: 60px;
      }
      .nav-bar {
        display: none;
      }
    }
    .nav-bar-phone {
      display: none;
      width: 768px;
      height: 100%;
      background-color: #fff;
      margin: 0;
      border-top: 2px solid #cecece;
      li {
        list-style: none;
        margin: 30px 10px;
        a {
          color: #000;
          font-weight: 700;
          font-size: 2rem;
        }
      }
    }
    .mostrar {
      display: block;
    }
    .menu-burger {
      display: flex;
      align-items: center;
      margin-right: 20px;
      .fi {
        font-size: 2.5rem;
      }
    }
  }
}
main {
  padding-top: 80px;
  //Home page
  .home {
    width: 100%;
    height: 300px;
    .hero {
      padding: 0;
      text-align: center;
      h1 {
        font-size: 3.5rem;
      }
      h2 {
        font-size: 3rem;
      }
    }
  }
  .home-products-container {
    h2 {
      font-size: 2.5rem;
    }
    .home-products {
      overflow-x: scroll;
    }
  }
  .nosotros-container {
    h2 {
      font-size: 2.5rem;
    }
    .nosotros-info-container {
      display: block;
      .nosotros-info {
        h3 {
          font-size: 2rem;
        }
        p {
          font-size: 1.4rem;
        }
      }
    }
  }
  .contacto-container {
    display: flex;
    flex-direction: column;
    .contacto-title {
      display: block;
      text-align: center;
    }
    .contacto-left {
      display: none;
    }
    .contacto {
      .texto-contacto {
        h4 {
          font-size: 1.5rem;
        }
      }
    }
  }
  //Products page
  .body-products {
    width: 100%;
    padding: 0;
    margin: 0;
    .contenedor-productos {
      display: grid;
      grid-template-columns: 1fr;
      .producto {
        width: auto;
        img {
          width: 200px;
        }
        h2 {
          font-size: 2rem;
        }
        p {
          font-size: 1.5rem;
        }
      }
    }
  }
  //Product page
  .product-container {
    .product-info {
      flex-direction: column;
      .product-left {
        width: 300px;
        margin: 0 auto;
        margin-top: 10px;
        .first-image {
          width: 300px;
        }
        .galeria-img {
          width: 100%;
          height: 100px;
          img {
            width: 100px;
            height: 100px;
          }
        }
      }
      .product-right {
        width: 100%;
        text-align: center;
        padding: 0;
        margin: 10px 0;

        h1 {
          text-align: center;
        }
        p {
          font-size: 1.4rem;
        }
      }
    }
    .table-info-product {
      font-size: 1.2rem;
    }
  }

  //Servicios page
  .servicios-container {
    width: 100%;
    p {
      width: auto;
      font-size: 1.6rem;
      text-align: center;
    }
    .servicios-info-container {
      .servicios-info {
        ul {
          font-size: 1.8rem;
        }
      }
    }
  }
}
footer {
  height: 80px;
  width: 100%;
  // display: grid;
  // grid-template-rows: 1fr 1fr;
  picture {
    img {
      height: 60px;
      width: auto;
    }
  }
  .footer-icons {
    p {
      font-size: 1rem;
      margin: 0;
      margin-bottom: 5px;
    }
    .fi {
      font-size: 2rem;
    }
  }
}
