a {
  text-decoration: none;
  color: #fff;
}

.inactive {
  display: none;
}

.menu-burger {
  display: none;
}

.contacto {
  background-color: #ffffff;
  border: 1px solid #c1c1c1;
  margin: 20px;
  padding: 10px;
}

.fi {
  font-size: 4rem;
  margin-right: 15px;
}

html {
  font-size: 62.5%;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1.8rem;
  font-family: "Dosis", sans-serif;
  color: #000;
  text-transform: uppercase;
  font-weight: normal;
  width: 100%;
  position: relative;
}

.header {
  width: 100%;
  height: 126px;
  position: fixed;
  width: 100%;
  background-color: #f1f1f1;
  transition: top 0.3s ease-in-out;
  background-color: #ffffff;
}
.header nav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.header nav .navbar-container {
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.header nav .navbar-container .nav-bar {
  display: flex;
  margin-top: 45px;
}
.header nav .navbar-container .nav-bar li {
  padding: 5px 20px;
  list-style: none;
  border-top: 2px solid #cecece;
  transition: 0.5s ease;
}
.header nav .navbar-container .nav-bar li a {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  color: #000;
}
.header nav .navbar-container .nav-bar li:hover {
  border-top: 2px solid #48acf4;
  transition: 0.5s;
}
.header nav .navbar-container .logo {
  height: 100px;
}
.header nav .bottom-navbar {
  width: 100%;
  padding: 5px 0;
  display: flex;
  justify-content: space-evenly;
  background-color: #49acf3;
}
.header nav .bottom-navbar i {
  font-size: 1.2rem;
  font-weight: 700;
  font-style: normal;
}

main {
  width: 100%;
  padding-top: 126px;
  background-color: #ececec;
}
main .home {
  height: 600px;
  background-image: linear-gradient(rgba(73, 172, 243, 0.5960784314), rgba(73, 172, 243, 0.5960784314)), url(./elevauto/section-bg-6.jpg);
  background-size: cover;
  background-position: center;
}
main .home .hero {
  height: 100%;
  padding-left: 50px;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
}
main .home .hero h1 {
  color: #fff;
  font-size: 5rem;
  letter-spacing: 5px;
  font-weight: 800;
}
main .home .hero h2 {
  color: #fff;
  font-size: 4rem;
  letter-spacing: 5px;
  margin-bottom: 50px;
  line-height: 1.4;
  text-transform: uppercase;
  font-weight: 800;
}
main .home .hero button {
  font-family: "Dosis", sans-serif;
  font-weight: normal;
  font-size: 1.4rem;
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 6px 17px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  line-height: 1.42;
}
main .home .hero button:hover {
  background-color: #ffffff;
  color: #000;
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.39, 0.58, 0.57, 1) 0s;
}
main .home-products-container {
  margin-top: 0;
  height: 600px;
  background-image: url(./elevauto/fondo.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
main .home-products-container h2 {
  margin: 0;
  text-align: center;
  padding: 40px 0 20px 0px;
  font-family: "Chakra Petch", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  color: #0095ff;
  letter-spacing: 2px;
  text-shadow: 0px 0px 2px #000;
}
main .home-products-container .home-products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1020px;
  margin: 0 auto;
}
main .home-products-container .home-products picture {
  background-color: #ffffff;
  display: grid;
  grid-template-rows: 3fr 1fr;
  margin: 20px;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
  height: 300px;
}
main .home-products-container .home-products picture img {
  width: 90%;
  margin: 10px;
}
main .home-products-container .home-products picture .boton-etiqueta {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
main .home-products-container .home-products picture .boton-etiqueta a {
  padding: 5px 20px;
  width: 100px;
  text-align: center;
  margin: 10px 20px 20px;
  background-color: #49acf3;
  text-decoration: none;
  font-size: 1.6rem;
  color: #000;
  font-weight: 800;
  border-radius: 5px;
  transition: 0.5s ease;
}
main .home-products-container .home-products picture .boton-etiqueta a:hover {
  background-color: #0095ff;
  transition: 0.3s;
}
main .home-products-container .home-products picture:hover {
  box-shadow: 0px 0px 8px 0px;
  margin: 10px;
  height: 320px;
  transition: 0.3s;
}
main .home-products-container .home-products picture:hover a {
  font-size: 1.7rem;
  padding: 10px 25px;
  margin-top: 5px;
}
main .home-products-container .boton-productos {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}
main .home-products-container .boton-productos a {
  font-size: 1.6rem;
  color: #000;
  font-family: "Dosis", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  padding: 10px 60px;
  background-color: #49acf3;
  border: none;
  border-radius: 5px;
  transition: 0.5s ease;
}
main .home-products-container .boton-productos a:hover {
  background-color: #0095ff;
  font-size: 1.7rem;
  padding: 15px 65px;
  cursor: pointer;
  transition: 0.5s;
}
main .nosotros-container {
  width: 100%;
  background-color: #000;
  background-image: url("./elevauto/fondo-negro.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 20px 0;
}
main .nosotros-container h2 {
  margin: 0;
  text-align: center;
  padding: 40px 0 20px 0px;
  font-family: "Chakra Petch", sans-serif;
  font-size: 4rem;
  font-weight: 800;
  color: #fff;
  letter-spacing: 2px;
  text-shadow: 0px 0px 2px #000;
}
main .nosotros-container .nosotros-info-container {
  max-width: 1020px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
main .nosotros-container .nosotros-info-container .nosotros-info {
  box-shadow: 0 0 10px 10px #000;
  margin: 20px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
}
main .nosotros-container .nosotros-info-container .nosotros-info h3 {
  opacity: 1;
  position: absolute;
  transition: opacity 0.3s ease-in-out;
  font-size: 2.8rem;
}
main .nosotros-container .nosotros-info-container .nosotros-info p {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  padding: 10px;
  letter-spacing: 2px;
}
main .nosotros-container .nosotros-info-container .nosotros-info p::first-letter {
  font-size: 3rem;
  font-weight: bold;
}
main .nosotros-container .nosotros-info-container .nosotros-info:hover {
  background-color: rgba(0, 0, 0, 0.4196078431);
  margin: 10px;
  height: 220px;
  transition: 0.3s;
}
main .nosotros-container .nosotros-info-container .nosotros-info:hover h3 {
  opacity: 0;
}
main .nosotros-container .nosotros-info-container .nosotros-info:hover p {
  display: block;
  opacity: 1;
}
main .contacto-container {
  max-width: 1020px;
  max-height: 750px;
  margin: 120px auto 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "p1 p1 p2 p2" "p1 p1 p3 p3" "p1 p1 p4 p4";
  background-color: #ececec;
  border-radius: 5px;
}
main .contacto-container .contacto-left {
  grid-area: p1;
}
main .contacto-container .contacto-left h2 {
  margin: 10px;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4;
}
main .contacto-container .contacto-left .contacto-imagenes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .contacto-container .contacto-left .contacto-imagenes .fi {
  font-size: 1.4rem;
}
main .contacto-container .contacto-left .contacto-imagenes img {
  max-width: 400px;
  margin-bottom: 20px;
  border-radius: 10px;
}
main .contacto-container .llamanos {
  display: flex;
  align-items: center;
  grid-area: p2;
}
main .contacto-container .escribinos {
  display: flex;
  align-items: center;
  grid-area: p3;
}
main .contacto-container .encontranos {
  display: flex;
  align-items: center;
  grid-area: p4;
}
main .body-products {
  background-color: #ececec;
  padding: 0 200px;
}
main .body-products .contenedor-productos {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
main .body-products .contenedor-productos .producto {
  margin: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 10px;
  align-items: center;
  box-shadow: 0px 0px 5px #bbbbbb;
}
main .body-products .contenedor-productos .producto img {
  width: 300px;
}
main .body-products .contenedor-productos .producto h2 {
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 5px 0;
}
main .body-products .contenedor-productos .producto p {
  margin: 5px 0;
  font-weight: 400;
  color: #777777;
  font-style: italic;
}
main .body-products .contenedor-productos .producto a {
  font-size: 1.5rem;
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 60px;
  background-color: #49acf3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
main .body-products .contenedor-productos .producto a:hover {
  background-color: #0095ff;
  transition: all 0.3s ease;
}
main .producto-indiv {
  width: 50%;
  position: absolute;
  background-color: #777777;
  top: 0;
}
main .producto-indiv img {
  width: inherit;
}
main .product-container {
  width: 100%;
  background-color: #ececec;
}
main .product-container .product-info {
  max-width: 1020px;
  background-color: #fff;
  margin: 20px auto;
  display: flex;
  box-shadow: 0px 0px 5px #bbbbbb;
}
main .product-container .product-info .product-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .product-container .product-info .product-left .first-image {
  width: 510px;
}
main .product-container .product-info .product-left .galeria-img {
  max-width: 510px;
  margin: 20px 0 0;
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
  transition: transform 0.3s ease-in-out;
}
main .product-container .product-info .product-left .galeria-img img {
  scroll-snap-align: center;
  margin-right: 10px;
  flex-shrink: 0;
  width: 200px;
  height: 200px;
}
main .product-container .product-info .product-right {
  width: 50%;
  background-color: #fff;
  padding: 20px 50px;
}
main .product-container .product-info .product-right h1 {
  font-size: 3rem;
  font-weight: 800;
  color: #0095ff;
}
main .product-container .product-info .product-right p {
  color: #777777;
  line-height: 1.8;
}
main .product-container .table-info-product {
  background-color: #fff;
  max-width: 1020px;
  margin: 20px auto;
  padding: 10px;
}
main .product-container .table-info-product h2 {
  font-size: 2rem;
  font-weight: 600;
}
main .product-container .table-info-product .table-product {
  background-color: #ececec;
  width: 100%;
  text-align: left;
  padding: 10px;
  line-height: 1.4;
}
main .servicios-container {
  width: 100%;
  background-image: url("./elevauto/fondo-negro.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  letter-spacing: 2px;
  font-size: 1.8rem;
}
main .servicios-container p {
  width: 980px;
  margin: 0px auto;
  padding: 20px;
  line-height: 1.8;
  letter-spacing: 2.8px;
}
main .servicios-container h1 {
  text-align: center;
  font-weight: 800;
  font-size: 4rem;
  font-family: "Chakra Petch", sans-serif;
  color: #0095ff;
  margin: 0;
  padding: 10px 0;
}
main .servicios-container .servicios-info-container {
  display: flex;
  max-width: 1020px;
  flex-direction: column;
  margin: 0 auto;
}
main .servicios-container .servicios-info-container .servicios-info {
  width: 100%;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.4196078431);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  transition: height 0.3s ease;
}
main .servicios-container .servicios-info-container .servicios-info h2 {
  text-align: center;
  cursor: pointer;
  font-family: "Chakra Petch", sans-serif;
  font-size: 2.8rem;
  margin: 20px 0 0;
}
main .servicios-container .servicios-info-container .servicios-info ul {
  list-style: none;
  padding: 0;
  text-align: start;
  width: 400px;
  font-weight: normal;
  font-size: 2rem;
}
main .servicios-container .servicios-info-container .servicios-info ul li {
  margin: 10px 0;
}
main .servicios-container .servicios-info-container .expandir {
  height: 300px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 5px solid #777777;
  background-color: #101010;
  height: 150px;
}
footer picture img {
  width: 250px;
}
footer .footer-icons {
  color: #0095ff;
}
footer .footer-icons .fi {
  color: #0095ff;
  font-size: 3rem;
}/*# sourceMappingURL=styles.css.map */